<div class="row">
	<div class="small-12 medium-10 medium-centered large-6 columns">
		<h2>Install new site</h2>
		{{test | async | json}}
		<installer-1-form *ngIf="step == 1" [(installData)]="installData"></installer-1-form>
		<installer-2-form *ngIf="step == 2" [(installData)]="installData"></installer-2-form>

		<button *ngIf="step > 1" class="small" (click)="previous()"><i class="fi-arrow-left"></i> Prev</button> 
		<button class="small" (click)="next()">Next <i class="fi-arrow-right"></i></button>		
	</div>
</div>