
<header>
<a [routerLink]="['/Install']">Install</a>
<section class="row">
  <nav class="small-12 medium-10 medium-centered columns">
  	<div class="row">
  		<div class="small-12 medium-4 columns">
    		<h1>Shake CMS</h1>
    	</div>

	</div>
  </nav>
</section>
</header>
<div class="row">
	<div class="content small-12 medium-10 medium-centered columns">
		<router-outlet></router-outlet>
	</div>
</div>



