@import '_settings';
@import '_palette';
@import '_import';

//
.grad {
    background: #085078;
    background: linear-gradient(55deg, #85D8CE 0%, #085078 100%);
    background-size: cover;
    font-family: 'MuseoSans', sans-serif;
    margin: 0;
    padding: 0;
    -moz-transition: background 0.5s ease-in;
    -webkit-transition: background 0.5s ease-in; /* Safari */
    transition: background 0.5s ease-in;
}

.content {
   background-color: #f4f4f4;
   border: 1px solid white;
   max-height: 850px;
   overflow-y: scroll;
   -webkit-overflow-scrolling: touch;
   padding: 40px;
   -moz-box-shadow: 0 0 8px 2px rgba(0,0,0, 0.2);
   -webkit-box-shadow: 0 0 8px 2px rgba(0,0,0, 0.2);
   box-shadow: 0 0 8px 2px rgba(0,0,0, 0.2);
}

i {
    cursor: pointer;
}

a {
    color: #0084ff;
    text-decoration: underline;
}

a, button {
    outline: none;
}

.button, button {
    color: white;
}

p {
    font-weight: 300;
}

p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'MuseoSans', sans-serif;
}

h1 {
    font-weight: 300;
}

h2, h3, h4, h5, h6 {
    color: #1B2432;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}

input[type], select, textarea {
    border: none;
    outline: none;
    font-size: 23px;
    font-weight: 300;
}

input[type='submit'] {
    font-family: 'MuseoSans', sans-serif;
    font-size: 18px;
}


.browsehappy {
    background: #ccc;
    color: #000;
    margin: .2em 0;
    padding: .2em 0;
}

.size-12 {
    font-size: 12px;
}
.size-14 {
    font-size: 14px;
}
.size-16 {
    font-size: 16px;
}
.size-18 {
    font-size: 18px;
}
.size-20 {
    font-size: 20px;
}
.size-24 {
    font-size: 24px;
}
.size-26 {
    font-size: 26px;
}

.size-30 {
    font-size: 30px;
}

.open {
    display: block;
    visibility: visible;
}

.hidden {
    display: none;
    visibility: hidden;
}

.expanded {
    height: 400px;
    overflow: hidden;
    -moz-transition: height 0.5s ease-out;
    -webkit-transition: height 0.5s ease-out; /* Safari */
    transition: height 0.5s ease-out;
    form {
        padding-bottom: 2em;
    }
}

.contracted {
    height: 0;
    overflow: hidden;
    -moz-transition: height 0.5s ease-out;
    -webkit-transition: height 0.5s ease-out; /* Safari */
    transition: height 0.5s ease-out;
}

.toggle-bar {
    width: 100%;
    line-height: 30px;
    background: #555555;
    padding: 0.5rem 2rem 0.51rem 2rem;
    i {
        display: inline-block;
        float: right;
        font-size: 30px;
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
        -moz-transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in; /* Safari */
        transition: all 0.5s ease-in;
    }
    i.toggled {
         -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);
        -moz-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out; /* Safari */
        transition: all 0.5s ease-out;
    }
}

.toggle-bar:hover, .toggle-bar:visited {
    background: #444444;
}

.headrow {
    margin-top: -30px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.ng-invalid .ng-touched {
    border-color: #d90c02 !important;
    color: #d90c02 !important;
}

.ng-valid .ng-touched {
    border-color: #3ba976 !important;
}

header {
    background: none;
    height:100px;
    padding: 20px;
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: white;
        text-decoration: underline;
    }
    a:visited {
        color: white;
    }
    .row {
        background: none;
    }
}

nav {
    h1 {
        color: white;
    }
    a {
        display: inline-block;
        line-height: 60px;
        margin-right: 30px;
        i {
            float: left;
            margin-right: 20px;
        }
    }
}

.no-hover:hover {
        text-decoration: none;
}

.account {
    text-align: center;
    a {
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
    }
}

.account .block {
    background: white;
    padding: 2em;
    color: #333;
    min-height: 8em;
    line-height: 30px;
    -moz-border-radius: 2px;
    border-radius: 3px;
    -moz-box-shadow:    0 0 3px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
    box-shadow:         0 0 3px 1px rgba(0,0,0,0.1);
}

.reverse-wrap, .reverse {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
