
.admin-panel {
    background:rgba(4, 4, 4, 0.85);
    color:white;
    min-height:500px;
    height: 100vh;
    padding: 30px 20px;
    top: 0;
    position: fixed;
    z-index: 9999;
    width:250px;
    h3, h4 {
        color: white;
    }
    ul i {
        margin: 0 15px; 
    }
}
.tab {
    position:fixed;
    background:rgba(4, 4, 4, 0.85);
    left:0;
    box-sizing:border-box;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    padding:10px;
    a {
        display: block;
    }
}
.open {
    left:0;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out; /* Safari */
    transition: all 0.3s ease-out;
}
.close {
    left:-251px;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in; /* Safari */
    transition: all 0.3s ease-in;
}
.open .tab {
    left:250px;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out; /* Safari */
    transition: all 0.3s ease-out;  
    a {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
        -moz-transition: all 0.4s ease-out;
        -webkit-transition: all 0.4s ease-out; /* Safari */
        transition: all 0.4s ease-out;        
    }          
}
.close .tab {
    left:0;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in; /* Safari */
    transition: all 0.3s ease-in; 
     a {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        -moz-transition: all 0.4s ease-out;
        -webkit-transition: all 0.4s ease-out; /* Safari */
        transition: all 0.4s ease-out;        
    }            
}