
.admin {
    background:rgba(4, 4, 4, 1);
    color:white;
    min-height:500px;
    height: 100vh;
    padding: 30px 20px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    width:100%;
    h3, h4 {
        color: white;
    }
    ul i {
        margin: 0 15px; 
    }
}
.view-panel {
    float: right;
    padding: 15px;
}