
/* AUTOCOMPLETE */

.autocomplete {
    position: relative;
    width: 100%;
}

.autocomplete input {
    font-size: 1.2em;
    padding: .4em;
    width: 100%;
}

.autocomplete ul {
    border-bottom: 1px solid #888;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    left: -18px;
    top: -16px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.autocomplete li {
    background-color: #fff;
    list-style: none;
    padding: .4em;
    text-align: left;
    width: 100%;
}

.autocomplete li.active {
    background-color: #4bf;
    width: 100%;
}

.autocomplete .highlight {
    background-color: #e2e2e2;
}

.autocomplete li.active .highlight {
    background: #666;
    color: #fff;
}

// End Autocomplete