
<div class="row">
	<div class="small-12 medium-10 medium-centered large-8 columns">
		<h1>Login</h1>
		<button (click)="login('facebook')">Login with Facebook</button> 
		<button (click)="login('google')">Login with Google</button>		
	</div>

</div>

